.msgperson {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(154, 250, 220, 0.1)
    ),
    url("https://img.freepik.com/free-vector/oriental-mandala-frame-floral_53876-115955.jpg?t=st=1720592546~exp=1720596146~hmac=4e2cc1f34841ec0e57681dcad7af80d045cc24ba52e4eba524cebee25ea5c4f8&w=1380");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chairman-header {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 3rem;
  color: #0b8d3d;
  line-height: 55px;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}

.chairman-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  border-radius: 100%;
  background-color: #fe7f00;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.chairman-header:hover::after {
  transform: scaleX(1);
}

.fancy-border {
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background: linear-gradient(white, white), linear-gradient(to right, rgb(231, 231, 231),rgb(226, 237, 226)); */
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 8px;
  position: relative;
}

.chairman-message-card:hover {
  transform: translateY(-1px);
}

.chairman-name {
  font-size: 1.4rem;
  font-weight: bolder;
  text-align: center;
  color: var(--green1);
}

.chairman-title {
  font-size: 1rem;
  color: #424446;
  text-align: center;
  margin: 0;
}

.message-content p {
  font-size: 0.9rem;
  color: #4b4949;
  line-height: 1.6;
  text-align: justify;
}

.chairman-image {
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.chairman-image:hover {
  transform: scale(1.05);
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
}
