header {
  background: linear-gradient(30deg, var(--green1), var(--green2));
  z-index: 76;
}
.navbar-brand {
  width: 120px;
  max-height: 50px;
}
.navbar-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-nav .nav-item:hover:after {
  width: 100%;
  background: #fffdfd;
}
.navbar-nav {
  align-items: start;
}

.navbar-nav .nav-link:hover {
  color: green;
}
.navbar-nav .nav-link {
  color: white !important;
  font-size: 15px;
  font-weight: 500;

  /* text-shadow: 1px 1px 2px rgb(71, 78, 72); */
}

ul.dropdown-menu {
  border-radius: 3px;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 5px;
  list-style-type: none;
  -webkit-animation: mymove 0.5s;
  animation: mymove 0.5s;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
li.dropdown:hover ul.dropdown-menu {
  display: block;
  background-color: rgb(251, 239, 241);
  border-bottom: 2px solid red;
  border-radius: 15px;
}

.dropdown-menu li:hover a {
  color: white;
  background-color: #508d4e;
}

.dropdown-menu li {
  padding: 5px;
  display: block;
}
.dropdown-menu li a {
  color: #444;
  text-decoration: none;
  /* text-transform: capitalize; */
}
@keyframes mymove {
  from {
    left: 100px;
    height: 0px;
    opacity: 0;
    border-bottom: 0px;
  }
  to {
    height: auto;
  }
}

.navbar-nav a.nav-link {
  padding: 0px;
}

ul.navbar-nav li.nav-item {
  margin: 0 15px;
}
ul.navbar-nav .nav-item:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.5s ease, background-color 0.5s ease;
}

/* Button Animation */
.head-btn {
  border: 0;
  outline: none;
  padding: 3px 20px;
  text-align: center;
  color: white;
  background-color: #e20746;
}
.animated-button {
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  /* padding: 0 12px !important; */
}

.animated-button:hover {
  background-color: #7e2e63;
  transform: scale(1.1);
}

.navbar-toggler {
  border-color: #a8f9e9;
  border: none;
}
.navbar-toggler-icons {
  color: rgb(224, 228, 229);
  font-size: 24px;
}
