.corner-border {
    --b: 0.5em;
    --c: 3em; 
    --r: 1.9em;
    position: relative;
    border: solid var(--b) transparent;
    margin: 1em;
    font: 1.25em Ubuntu, sans-serif;
  }
  
  .corner-border::before {
    position: absolute;
    z-index: -1;
    inset: calc(-1 * var(--b));
    border: inherit;
    border-radius: var(--r);
    background: linear-gradient(orange, deeppink, purple) border-box;
    --corner: conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0)
      0 0 / calc(100% - var(--c)) calc(100% - var(--c)) border-box;
    --inner: conic-gradient(red 0 0) padding-box;
    -webkit-mask: var(--corner), var(--inner);
    mask: var(--corner) subtract, var(--inner);
    content: '';
  }
  
  .about-icon1 {
    color: var(--green2);
  }
  .about-icon2 {
    color: green;
  }
  .about-icon3 {
    color: var(--red);
  }
  
  .mission-p {
    text-align: justify;
    padding: 0 15px;
    font-size: 0.9rem;
  }
  